@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #3B3A45;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  outline: none;
  height: 100%;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

._container {
  position: relative;
  max-width: 1680px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 6.25vw;
}

._container--inter {
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 5.21vw;
}

._container_policy {
  position: relative;
  max-width: 825px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 28.5vw;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea::placeholder,
input::placeholder {
  color: #1E1D2D;
}

.grid__75-25 {
  display: grid;
  grid-template-columns: 75% 25%;
}

.grid__35-65 {
  display: grid;
  grid-template-columns: 35% 65%;
}

.grid__68-32 {
  display: grid;
  grid-template-columns: 68% 32%;
}

.gray-backg {
  background: rgba(138, 137, 150, 0.12);
  border-radius: 200px;
}

/*****************HEADER*******************/
/*****************HEADER*******************/
/*****************HEADER*******************/

.header__chat {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.header__lang--select {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.header__lang--change {
  border-top: 1px solid rgba(255, 255, 255, 0.15) ;
}

.login__btn--bg {
  background: #E84680;
}

.login__btn--bg:hover {
  background: #EC1B65;
}

.login__btn--bg:active {
  background: #D3004C;
}

.login__btn--bg:disabled {
  background: rgb(232, 70, 128);
  opacity: 0.5;
}

.login__dropdown {
  border: 1px solid #E5DFEE;
  box-shadow: 0px 5px 80px rgba(52, 23, 94, 0.05);
}

.login__dropdown button:not(:last-child) {
  border-bottom: 1px solid #E5DFEE;
}

.register__button--bg {
  background: rgba(255, 255, 255, 0.1);
}

/*****************MAIN*******************/
/*****************MAIN*******************/
/*****************MAIN*******************/

.main__title-block {
  background: rgba(100, 53, 165, 0.06);
}

.main__title-block--grid {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.main__block--bg {
  background: rgba(100, 53, 165, 0.2);
  box-shadow: 0px 5px 80px rgba(52, 23, 94, 0.05);
}

/*****************FOOTER*******************/
/*****************FOOTER*******************/
/*****************FOOTER*******************/

.footer {
  border-top: 1px solid #DFDEE9;
}

.footer__border-b {
  border-bottom: 1px solid #DFDEE9;
}


/*****************MODAL*******************/
/*****************MODAL*******************/
/*****************MODAL*******************/

.modal__telephone-cod {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__telephone-cod input {
  width: 16%;
  border-bottom: 2px solid #E5DFEE;
}

.custom__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #6435A5;
  border-radius: 6px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
}

.custom__checkbox:checked + label::before {
  border-color: #6435A5;
  background-color: #6435A5;
  background-image: url("../assets/svg/check_icon.svg");
}

@media (max-width: 1572px) {
  .custom__checkbox + label::before {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 8px;
  }
}

@media (max-width: 1572px) {
  .custom__checkbox + label::before {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 6px;
  }
}

/*****************IMMOVABLES*******************/
/*****************IMMOVABLES*******************/
/*****************IMMOVABLES*******************/

.immovables__grid {
  display: grid;
  grid-template-columns: 16.7vw 1fr 15.6vw;
}

.multiselect {
  background: none !important;
  border: none !important;
  border-radius: 0px !important;
  min-height: 30px !important;
}

.multi__select .multiselect {
  font-size: 18px !important;
}

.ones__select .multiselect {
  font-size: 18px !important;
}

.multiselect-wrapper {
  min-height: 30px !important;
}

.multiselect-tags {
  margin: 0 !important;
  padding: 0 !important;
}

.multiselect-clear {
  display: none !important;
}
.multiselect-tag {
  padding: 2px !important;
}

.multi__select .multiselect-tag {
  font-size: 14px !important;
}

.ones__select .multiselect-tag {
  font-size: 18px !important;
}

.multiselect-tag-remove {
  height: 20px;
  width: 20px;
}

.multiselect-multiple-label,
.multiselect-placeholder,
.multiselect-single-label {
  padding: 0 !important;
}

.multiselect-caret {
  background-color: #F6F3FA !important;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 !important;
  background-image: url("../assets/svg/arrow_down_black.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask-image: none !important;
  mask-image: none !important;
  pointer-events: none;
  position: relative;
  transform: rotate(0deg);
  transition: transform .3s;
  z-index: 10;
}

.multiselect-placeholder {
  color: #1E1D2D !important;
}

.multiselect.is-active {
  box-shadow: none !important;
}

@media (max-width: 1572px) {
  .multi__select .multiselect {
    font-size: 15px !important;
  }

  .ones__select .multiselect {
    font-size: 15px !important;
  }

  .multiselect {
    min-height: 24px !important;
  }

  .multiselect-wrapper {
    min-height: 24px !important;
  }

  .multi__select .multiselect-tag {
    font-size: 12px !important;
  }

  .ones__select .multiselect-tag {
    font-size: 15px !important;
  }

  .multiselect-tag-remove {
    height: 16px;
    width: 16px;
  }
}


@media (max-width: 1366px) {
  .multiselect {
    min-height: 20px !important;
  }

  .multi__select .multiselect {
    font-size: 13px !important;
  }

  .ones__select .multiselect {
    font-size: 13px !important;
  }

  .multiselect-wrapper {
    min-height: 20px !important;
  }

  .multi__select .multiselect-tag {
    font-size: 10px !important;
  }

  .ones__select .multiselect-tag {
    font-size: 13px !important;
  }

  .multiselect-tag-remove {
    height: 14px;
    width: 14px;
  }
}

.border__bottom,
.border__bottom:focus {
  border-bottom: 1px solid #CEC3DD;
}

.button__map {
  background: rgba(100, 53, 165, 0.12);
}

.button__choices--grid {
  background: rgba(100, 53, 165, 0.12);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button__choices--grid div {
  background: #6435A5;
  opacity: 0.5;
}

.button__choices--col {
  background: #6435A5;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.button__choices--col div {
  background: #fff;
}

.immovables__overlay {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.immovables__button--card {
  border: 1px solid rgba(239, 238, 245, 0.5);
}

.border__right {
  border-right: 1px solid #E5DFEE;
}

/*****************DESCRIPTION*******************/
/*****************DESCRIPTION*******************/
/*****************DESCRIPTION*******************/

.decription__head {
  box-shadow: 0px 5px 80px rgba(52, 23, 94, 0.05);
}

.vueperslide__image {
  background-image: url("../assets/slider_img.jpg");
}

.infrostruct__banner {
  background: rgba(232, 70, 128, 0.1);
  box-shadow: 0px 5px 80px rgba(52, 23, 94, 0.05);
}

/*****************LC_DEV*******************/
/*****************LC_DEV*******************/
/*****************LC_DEV*******************/

.hover__select:hover {
  background: #F6F3FA;
  color: #6435A5;
}

/*****************add-object*******************/
/*****************add-object*******************/
/*****************add-object*******************/

.grid__add-object {
  display: grid;
  grid-template-columns: 20vw 1fr 20vw;
}
.grid__apartments {
  display: grid;
  grid-template-columns: 20vw 1fr;
}

.menu-add-obj {
  background: #6435A5;
  color: #fff;
}

.hover__menu-add-obj:hover {
  background: #6435A5;
  color: #fff;
}

.custom__scroll::-webkit-scrollbar {
  width: 2px;
}

.custom__scroll::-webkit-scrollbar-thumb {
  width: 2px;
  border-radius: 100px;
  background: #6435A5;
}

.border__bottom--0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.corpus__banner {
  box-shadow: 0px 8px 60px rgba(52, 23, 94, 0.08);
}

.grid__apartments-line {
  display: grid;
  grid-template-columns: 5vw 7vw 8vw 9vw 5vw 1fr;
}

.n-upload-file-list {
  display: flex !important;
  flex-wrap: wrap !important;
}

.n-upload-file-list .n-upload-file-list--grid {
  display: flex !important;
  flex-wrap: wrap !important;
}

.n-upload-trigger.n-upload-trigger--image-card {
  flex: 1 1 auto !important;
}

.n-upload-file-list .n-upload-file.n-upload-file--image-card-type {
  border: 1px solid #6435A5 !important;
}

.n-upload-trigger.n-upload-trigger--image-card .n-upload-dragger {
  border: 1px solid #E5DFEE !important;
}

.n-upload-trigger.n-upload-trigger--image-card .n-upload-dragger:hover {
  background: #F6F3FA;
}
