/*lowSection*/
#lowSection {
    background: #F9F9FF;
    height: 100vh;
    height: auto;
    position: relative;
    overflow: hidden;
}

#lowSection .container {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

#lowSection .upp-row {
    display: flex;
    justify-content: space-between;
    height: 10.4167vw;
}

#lowSection h2 {
    font-family: 'ALS Gorizont';
    font-style: normal;
    font-weight: 400;
    max-width: 76.0156vw;
    font-size: 3.125vw;
    margin: 0 auto;
    line-height: 4vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3B3A45;
}

#lowSection h3 {
    font-family: 'ALS Gorizont';
    font-style: normal;
    font-weight: 400;
    font-size: 2.0833vw;
    line-height: 2.0833vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9657EC;
    max-width: 37.5vw;
    margin: 0 auto;
}

#lowSection button {
    background-color: transparent;
    border: 0;
    display: flex;
    gap: 0.7813vw;
    margin: 3.9063vw auto 14.0625vw;
}

#lowSection button span {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3542vw;
    line-height: 1.6vw;
    display: flex;
    align-items: center;
    color: #9657EC;
}

#lowSection button img {
    width: 2.3438vw;
}

#lowSection .row-soc {
    display: flex;
    gap: 2.6042vw;
    margin: 4.1667vw auto;
    width: fit-content;
}

#lowSection .row-soc img {
    width: 2.3438vw;
}

#lowSection .foot { 
    background-image: url(../images/img/lowSection/t.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: relative;
    z-index: 2; 
    height: 14.7917vw; 
    padding-top: 7.2917vw;  
}

#lowSection .foot p {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0417vw;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 2.0833vw;
}

#lowSection .bg-houses {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#lowSection .bg-houses img {
    width: 2.0833vw;
    height: auto;
    z-index: 1;
}

#lowSection .bg-houses img:nth-child(1) {
    position: absolute;
    bottom: auto;
    top: 2.65vw;
    left: 20vw;
    width: 42vw;
}

#lowSection .bg-houses img:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: -1.0417vw;
    width: 32vw;
}
#lowSection .foot img{
    width: 7.5vw;
}
/*footer*/
footer {
    background: #3B3A45;
}

footer nav {
    margin-bottom: 2.6042vw;
}

footer nav ul {
    display: flex;
    gap: 4.4271vw;
    flex-wrap: wrap;
}

footer nav ul li {
    list-style: none;
}

footer nav ul li a {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1458vw;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

footer nav ul li span {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 120%;
    display: flex;
    align-items: center;
    margin-bottom: 0.2604vw;
    color: #B590F8;
}

footer p {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375vw;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 1.0417vw;
    opacity: 0.55;
}

footer .row-ref {
    display: flex;
    align-items: center;
    gap: 4.4271vw;
    margin-bottom: 1.3021vw;
}

footer .row-ref a {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0417vw;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

footer .row-ref a span {
    color: #B590F8;
}

footer .mobile-contant {
    display: none;
}

@media only screen and (max-width:1000px) {


    #lowSection h2 {
        font-weight: 400;
        font-size: 6.5vw;
        line-height: 9vw;
        margin-top: 25vw;
    }
    
    #lowSection h3 {
        font-weight: 400;
        font-size: 6.25vw;
        line-height: 134.5%;
        max-width: none;
        margin-bottom: 13vw;
    }
    #lowSection button img {
        width: 15.3438vw;
        margin-left: 3vw;
    }
    #lowSection {
        min-height: auto;
    }
    #lowSection .row-soc { 
        gap: 7.6042vw; 
    }
    #lowSection .bg-houses img:nth-child(2) {
        display: none;
    }
    
    #lowSection .upp-row {
        display: none;
    }
    
    #lowSection button {
        margin: 23.4375vw auto 43.75vw;
    }
    
    #lowSection .bg-houses img:nth-child(1) {
        width: 130vw;
        margin: 0 auto;
        display: block;
        bottom: 0;
        height: auto;
        top: auto;
        left: 0;
    }
    
    #lowSection .row-soc img {
        width: 9.6875vw;
    }
    
    #lowSection button span {
        font-size: 6.875vw;
        line-height: 10.3125vw;
    }
    
    footer .mobile-contant {
        display: block;
        padding-top: 7.8125vw;
    }
    
    footer .mobile-contant p {
        font-weight: 400;
        font-size: 3.75vw;
        line-height: 120%;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 15.625vw;
    }
    
    footer .mobile-contant .logo {
        max-width: 32.8125vw;
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 9.375vw;
    }
    
    #lowSection .foot .container {
        display: none;
    }
    
    footer .row-ref {
        display: block;
    }
    
    #lowSection .foot {
        height: 31.25vw;
        padding-top: 0;
        margin-top: 20vw;
    }
    
    footer .row-soc {
        width: 52.4975vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 9.375vw;
    }
    
    footer p {
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 3.75vw;
        line-height: 120%;
    }
    
    footer nav ul li {
        display: none;
    }
    
    footer nav ul li:first-child span {
        display: none;
    }
    
    footer nav ul li:first-child {
        display: block;
        width: 100%;
    }
    
    footer nav ul li:first-child a {
        color: #D6BFFF;
        font-size: 4.375vw;
        line-height: 120%;
        display: block;
        text-align: center;
    }
    footer .row-soc a img{
        height: 7.5vw;
    }
    footer .row-ref a {
        font-weight: 400;
        font-size: 4.375vw;
        line-height: 120%;
        display: block;
        text-align: center;
        margin: 6.25vw 0vw;
        color: #FFFFFF;
    }
    
    footer .row-ref a:last-child {
        font-weight: 400;
        font-size: 3.75vw;
        line-height: 120%;
        color: #FFFFFF;
        opacity: 0.3;
    }


}

 