* {
    margin: 0;
    padding: 0;
    /* font-family: "Open Sans"; */
}

body.fix{
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0px 5.208vw;
    overflow: hidden;
}

.lines-animations {
    display: flex;
}

.lines-animations .line {
    height: 9.739vw;
    width: 0.104vw;
    margin-right: 0.572vw;
    background: #9657EC;


}

.lines-animations .line:nth-child(1) {
    animation: change-lines-animations1 5s infinite;
}

.lines-animations .line:nth-child(2) {
    animation: change-lines-animations2 10s infinite;
}

.lines-animations .line:nth-child(3) {
    animation: change-lines-animations3 5s infinite;
}

@keyframes change-lines-animations1 {
    0% {
        height: 9.739vw;
    }

    50% {
        height: 5.208vw;
    }

    100% {
        height: 9.739vw;
    }
}

@keyframes change-lines-animations2 {
    0% {
        height: 9.739vw;
    }

    50% {
        height: 5.208vw;
    }

    100% {
        height: 9.739vw;
    }
}

@keyframes change-lines-animations3 {
    0% {
        height: 5.208vw;

    }

    50% {
        height: 9.739vw;
    }

    100% {
        height: 5.208vw;
    }
}

















