#watchvideo {
    background: #F9F9FF;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#watchvideo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#watchvideo .low-t {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 14.765vw;
}

#watchvideo .low-h1 {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 54.53vw;
}

#watchvideo .low-h2 {
    position: absolute;
    top: auto;
    bottom: 0;
    right: -5.208333333333333%;
    z-index: 1;
    width: 35.72vw;
}

#watchvideo .video {
    width: 100%;
    height: 100%;
    width: 38.489vw;
    height: 25.254vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#watchvideo h2 {
    font-family: 'ALS Gorizont';
    font-style: normal;
    font-weight: 400;
    font-size: 3.125vw;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #000000;
    animation: slide-out 20s linear infinite;
}

#watchvideo .title-text {
    position: absolute;
    left: 0;
    transform: rotate(-3.25deg);
}


@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}






@media only screen and (max-width: 1000px) {
    #watchvideo {
        height: 157.5vw; 
    }

    #watchvideo img.video {
        max-width: 78.334375vw; 
    }

    #watchvideo h2 {
        font-size: 6.25vw; 
    }

    #watchvideo .low-h1 {
        width: 123vw;
        left: calc(-50% - -38vw );
    }

    #watchvideo .low-h2 {
        width: 77.1875vw;
        right: calc(-42%);
    }
    #watchvideo .title-text { 
        top: 9vw; 
    }
    #watchvideo .video {
        width: 78.584vw; 
        height: 51.562vw;
    }
}
 