header ul {
    display: grid;
    grid-template-columns: 1fr 0.5fr auto auto;
    padding: 1.822vw 0px;
    align-items: center;
}

header ul li {
    list-style: none;
    display: flex;
}

header ul li a {
    text-decoration: none;
}

header img.logo {
    width: 7.528vw;
    height: 1.516vw;
}

header .ref-soc img {
    height: 1.458vw;
    margin: 0px .781vw;
}

header .lang {
    margin-left: 3.645;
}

header .lang svg {
    position: relative;
    left: 0.3125vw;
    top:0.3125vw;
}

header .lang span {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1458vw;
    line-height: 0.833vw;

    color: #000000;

}

header button {
    cursor: pointer;
}

header .container {
    overflow: visible;
}
header button.login {
    padding: 0.9375vw 2.6041666666666665vw;
    width: auto;
    height: 2.7083333333333335vw;
    border: 0.052083333333333336vw solid #9657EC;
    border-radius: 0.10416666666666667vw;
    background-color: transparent;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1458333333333333vw;
    line-height: 0.78125vw;
    margin-left: 2.6041666666666665vw;
    position: relative;
    z-index: 22;
    margin-right: 2.0833333333333335vw;
    color: #9657EC;
    transition: 0.5s;
}

header button.login:hover {
    background-color: #9657EC;
    color: white;
}

header button.registr {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1458333333333333vw;
    line-height: 1.3541666666666667vw;
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    color: #000000;
}

header .lines-animations {
    position: absolute;
    left: calc(50vw - 18.75vw);
}

.modal.active {
    display: block;
}

.modal-bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3B3A45;
    opacity: 0.9;
}
.modal {
    /* position: absolute; */
    z-index: 101;
    padding: 4.010416666666667vw 4.34375vw;
    background: #3B3A45;
    border-radius: 0.2604166666666667vw;
    width: 100%;
    max-width: 37.6875vw;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.modal h2 {
    font-family: 'ALS Gorizont';
    font-style: normal;
    font-weight: 400;
    font-size: 2.0833333333333335vw;
    line-height: 2.6354166666666665vw;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.modal a {
    display: block;
    text-align: center;
    margin-top: 3.6458333333333335vw;
}

.modal button:not(.login-ref) {
    background: #9657EC;
    width: 100%;
    border: 0;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.5104166666666667vw;
    color: #FFFFFF;
    display: block;
    padding: 1.354vw;
    text-align: center;
    border-radius: 0.2604166666666667vw;
    opacity: 1;
}

.modal button {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    line-height: 1.25vw;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.6;
    text-decoration: none;
    margin-top: 1.8229166666666667vw;
}

.modal input {
    height: 4.270833333333333vw;
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    border-radius: 0.2604166666666667vw;
    border: 0;
    outline: none;
    margin: 0.2604166666666667vw 0;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    line-height: 1.25vw;
    display: flex;
    align-items: center;
}

.modal.reg {
    padding: 2.6041666666666665vw 4.34375vw;
}

.modal.reg input {
    height: 3.2291666666666665vw;
}

.modal input::placeholder {
    color: #9657EC;
}

header .logIn {
    position: relative;
    z-index: 41;
}

header span.select-lang {
    position: relative;
    z-index: 2;
}

header .lang .select {
    width: 4.895833333333333vw;
    left: calc(50% - 2.9vw);
    text-align: center;
    padding-top: 3.1770833333333335vw;
    top: 0px;
}

header .logIn.active .select-login {
    display: block;
    background: white;
}

header .logIn .select-login {
    position: absolute;
    width: 100%;
    left: calc(50% - 5.3125vw);
    top: -0.78125vw;
    max-width: 10.989583333333334vw;
    height: 11.927083333333334vw;
    border: 0.052083333333333336vw solid #9657EC;
    border-radius: 0.10416666666666667vw;
    z-index: 20;
    background: white;
}

header .logIn button:not(.login):nth-child(1) {
    margin-top: 4.6875vw;
}

header .logIn button:not(.login) {
    height: 2.7083333333333335vw;
    background: #3B3A45;
    border-radius: 0.15625vw;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    line-height: 0.9375vw;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    max-width: 8.75vw;
    display: block;
    margin: 0.78125vw auto;
    cursor: pointer;
}
header ul li.user {
    display: none;
}

header .enter {
    display: none;
}

header .enter.active {
    display: block;
}

.modal-contant button.hiden {
    display: none;
}

.modal-contant .back {
    background-color: transparent;
    color: #3B3A45;
    opacity: 0.6;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
    margin-top: 0.7291666666666666vw;
    border-bottom: 0.052083333333333336vw solid #3B3A45;
    border-radius: 0;
}

header {
    position: relative;
}

/*welcom*/
#welcom {
    padding-bottom: 2.6041666666666665vw;
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-content: stretch;
    align-items: center;
}

#welcom .welcom-cont {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-gap: 5.208vw;
}

#welcom .welcom-cont .left {
    background-image: url(../images/img/welcom/Rectangle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#welcom h1 {
    font-family: 'ALS Gorizont';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8125vw;
    line-height: 4.010416666666667vw;
    height: 14.583333333333334vw;
    display: flex;
    color: #000000;
}

#welcom h4 {
    margin-top: 3.125vw;
    margin-bottom: 1.0416666666666667vw;
}

#welcom h4.title {
    display: flex;
}

#welcom h4.title img {
    top: 0;
    margin-right: 0.78125vw;
}

#welcom h4 img {
    width: 1.9791666666666667vw;
    height: 1.9791666666666667vw;
    position: relative;
    top: 0.5729166666666666vw;
}

#welcom h4 span {
    font-family: 'ALS Gorizont';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.6302083333333333vw;
    color: #000000;
}

#welcom p {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1458333333333333vw;
    line-height: 1.8229166666666667vw;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.7;
    max-width: 39.791666666666664vw;
}

#welcom button {
    margin: 1.5625vw 0px;
    border: 0.052083333333333336vw solid #9657EC;
    border-radius: 0.10416666666666667vw;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1458333333333333vw;
    padding: 1.8229166666666667vw 4.427083333333333vw;
    line-height: 0.8333333333333334vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: 0.5s;
    color: #9657EC;
    cursor: pointer;
}

#welcom button:hover {
    background-color: #9657EC;
    color: white;
}

#welcom .save-prog p {
    display: flex;
    gap: 0.78125vw;
    width: fit-content;
}

#welcom .save-prog span {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1458333333333333vw;
    line-height: 1.3541666666666667vw;
    display: flex;
    align-items: center;
    color: #3B3A45;
    opacity: 0.4;
}

#welcom .scroll {
    margin-top: 3.125vw;
    width: fit-content;
}

#welcom .scroll img {
    animation: jump 0.6s infinite;
}
@keyframes jump {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

#welcom .scroll span {
    font-family: 'ALS Gorizont';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.5625vw;
    display: flex;
    color: #9657EC;
    align-items: center;
    margin-bottom: 0.5208333333333334vw;
}

#welcom .scroll img {
    height: 0.625vw;
    margin: 0 auto;
    width: 2.1875vw;
    display: block;
}

#welcom .ref-soc {
    display: none;
    justify-content: space-between;
}

#welcom .lines-animations {
    position: absolute;
    left: calc(50vw - 0px);
    bottom: 0;
    transform: rotate(-180deg);
}

#welcom .welcom-cont .right .contant {
    width: 100%;
    height: 100%;
    max-height: 70vw;
    max-width: 56vw;
    background-image: url(../images/img/welcom/bgImg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#welcom .welcom-cont .right .contant .btn {
    background-color: white; 
    width: -moz-fit-content;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcom .welcom-cont .right .contant .btn img{
    display: block;
    margin: 0 auto;
    width: 1.666vw;
}
#welcom .welcom-cont .right .contant .btn.hide {
    opacity: 0;
}
.modal.reg  .transition-all{
    filter: brightness(0) invert(1);
}

.modal.reg .select-title{
    padding: .825vw;
}
.modal.reg .select-title span  {
    font-size: 0.833vw;
    line-height: 0.833vw;
}

@media only screen and (max-width: 1000px) {
    .lines-animations {
        display: none;
    }
    
    .container {
        padding: 0 4.6875vw; /* (значение px / 320) * 100 */
    }
    
    #welcom .welcom-cont {
        display: block;
    }
    
    #welcom { 
        align-items: start;
        min-height: auto;
    }
    
    #welcom .welcom-cont .right .contant {
        height: auto;
        margin: 0 auto;
        height: 110.9375vw;
        width: 100%;
        max-width: 90vw;
    }
    
    #welcom .welcom-cont .right .contant .btn {
        display: none;
    }
    
    #welcom .ref-soc {
        display: flex;
        margin: 0 auto;
        margin: 21.875vw auto 11.5625vw auto; /* (значение px / 320) * 100 */
        max-width: 51.25vw; /* (значение px / 320) * 100 */
    }
    
    #welcom .ref-soc img {
        height: 5.9375vw; /* (значение px / 320) * 100 */
    }
    
    #welcom h1 {
        font-size: 6.25vw; /* (значение px / 320) * 100 */
        line-height: 7.5vw; /* (значение px / 320) * 100 */
        height: 34.375vw; /* (значение px / 320) * 100 */
    }
    
    #welcom h4 img {
        width: 6.875vw; /* (значение px / 320) * 100 */
        height: 6.875vw; /* (значение px / 320) * 100 */
        top: 1.875vw; /* (значение px / 320) * 100 */
    }
    
    #welcom h4 span {
        font-size: 4.375vw; /* (значение px / 320) * 100 */
        line-height: 4.375vw; /* (значение px / 320) * 100 */
    }
    
    #welcom button {
        font-size: 4.375vw;
        line-height: 5vw;
        padding: 3.125vw 7.1875vw;
        margin-bottom: 5.31vw;
    }
    
    #welcom .save-prog span {
        font-size: 4.375vw; /* (значение px / 320) * 100 */
        line-height: 5.3125vw; /* (значение px / 320) * 100 */
    }
    
    #welcom .save-prog img {
        width: 5.625vw;
        margin-left: 4.68vw;
    }
    
    #welcom p {
        font-size: 4.0625vw;
        line-height: 160.5%;
        max-width: none;
        margin-bottom: 5.3125vw;
    }
    header img.logo {
        width: 30.8vw;
        height: auto;
    }
    #welcom h4 {
        margin-top: 18.75vw;
        margin-bottom: 4.0416666666666667vw;
    }
    header ul li.user img{
        width: 100%;
    }
    #welcom .scroll {
        display: none;
    }
    
    header ul li.btns {
        display: none;
    }
    
    header ul li.ref-soc {
        display: none;
    }
    
    header .lang span {
        font-size: 4.375vw; /* (значение px / 320) * 100 */
        line-height: 5vw; /* (значение px / 320) * 100 */
    }
    
    header .lang {
        margin-right: 8.75vw; /* (значение px / 320) * 100 */
        margin-left: auto;
        padding-top: 3vw;
    }
    
    header ul li.user {
        display: block;
        width: 6.875vw; /* (значение px / 320) * 100 */
        height: 6.875vw; /* (значение px / 320) * 100 */
    }
    
    .modal {
        padding: 7.1875vw;
        width: calc(100% - 25vw);
        max-width: none;
    }
    
    .modal.lodinn-btns .modal-contant {
        background: white;
        display: flex;
        align-content: center;
        flex-direction: column;
        gap: 4.6875vw; /* (значение px / 320) * 100 */
    }
    
    .modal button {
        font-size: 3.75vw;
        padding: 4.0625vw;
        line-height: 5vw;
    }
    
    .modal h2 { 
        text-align: center;
        font-size: 6.25vw;
        line-height: 8.125vw;
        margin-bottom: 10vw;
    }
    
    .modal input {
        height: 11.875vw;
        margin: 0;
        font-size: 3.75vw;
        line-height: 4.375vw;
        margin-bottom: -4.6875vw;
    }

    .modal form div{
        height: 11.875vw;
        padding: 0;
    }
    .modal div.flex{
        height: 11.875vw;
        padding: 0;
    }
    .modal a { 
        font-weight: 400;
        font-size: 5vw; /* (значение px / 320) * 100 */
        line-height: 5vw; /* (значение px / 320) * 100 */
    }
    
    .modala {
        display: block;
        text-align: center;
        margin-top: 15.625vw; /* (значение px / 320) * 100 */
    }
    
    .modal button:not(.login-ref) {
        background: #9657EC;
        width: 100%;
        border: 0;
        font-family: 'Nekst';
        font-style: normal;
        font-weight: 400;
        font-size: 4.375vw; /* (значение px / 320) * 100 */
        line-height: 8.125vw; /* (значение px / 320) * 100 */
        color: #FFFFFF;
        display: block;
        padding: 1.875vw; /* (значение px / 320) * 100 */
        text-align: center;
        border-radius: 1.5625vw; /* (значение px / 320) * 100 */
        opacity: 1;
        margin-top: 0;
    }
    
    header .lang .select {
        width: 13.75vw; /* (значение px / 320) * 100 */
        left: calc(50% - 4.6875vw);
        text-align: center;
        padding-top: 13.4375vw; /* (значение px / 320) * 100 */
        top: 0;
    }
    
    header ul { 
        grid-template-columns: 32.8125vw 1fr auto; /* (значение px / 320) * 100 */
    }
    
    header .lang {
        margin-left: auto;
    }
    .modal.reg {
        padding: 8.75vw;
    }
    .modal.reg input {
        height: 9.87vw;
    }
    .modal.reg .select {
        height: auto;
    }
    .modal.reg .select-title{
        padding: 3.75vw;
    }
    .modal.reg .select-title span  {
        font-size: 3vw;
        line-height: 3vw;
    }
}
 

/*!welcom*/